  .lilita-one-regular {
                    font-family: "Lilita One", serif;
                    font-weight: 400;
                    font-style: normal;
                    text-align: center;
                    margin-top:15px;
                }

                .heart {
                    position:fixed;
                    top:40px;
                    right:5%;
                    width:80px;
                    z-index: 1000;
                }

                .selfieimage{
                    text-align:center;
                    margin-top: 20px;
                }

                img{
                    width: 200px;
                    border-radius: 50px;
                    max-width: 100%;
                }


                h1{
                    font-family: 'Lilita One';
                    text-align: center;
                    margin-top: 20px;
                }

                .about{
                    max-width: 600px;
                    margin: 20px auto;
                    text-align: center;
                    font-family: 'Quicksand', sans-serif;
                    font-size: 16px;
                    line-height: 1.6;
                    font-style: normal;
                    font-weight: 100;
                    padding: 0 20px;
                    margin-bottom: 10px;
                }
                
                .about p {
                    font-family: 'Comic Relief', cursive;
                    background-color: #f0f8ff; 
                    border: 2px solid #4682b4;
                    box-shadow: 0 0 0 2px #000;
                    padding: 10px;
                    margin: 10px auto;
                    color: #0b3b73; 
                }





            
            /* size adjustments */
            /* Responsive design */

        @media screen and (max-width: 768px) {
            .heart {
                right: 3%; 
                width: 60px;
            }

            .sidebar {
                width: 200px;
            }

            .menu-btn {
                font-size: 24px;
            }

            h1 {
                font-size: 24px;
            }

            img {
                width: 150px;
            }

            .about {
                padding: 0 10px;
            }
        }

        @media screen and (max-width: 480px) {
            .heart {
                display: none; /*heart hidden*/
            }

            .menu-btn {
                font-size: 20px;
                left: 10px;
            }

            h1 {
                font-size: 20px;
            }

            img {
                width: 120px;
            }

            .about p {
                font-size: 14px;
                padding: 8px;
            }
        }

        