.sidebar {
    width: 250px;
    height: 100%;
    background: #ff69b4;
    position: fixed;
    left: -250px;
    top: 0;
    transition: 0.3s ease;
    text-align: left;
    padding-top: 60px;
    font-family: "Lilita One", sans-serif;
    box-shadow: 5px 0 10px rgba(0,0,0,0.3);
}

.sidebar a {
    display: block;
    padding: 15px;
    color:white;
    font-family: "Lilita One", sans-serif;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.2);
}

#sidebar-toggle {
    display: none;
}

#sidebar-toggle:checked + .sidebar {
    left: 0;
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 15px;
    text-decoration: none;
    color: white;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}